/*  your css code here. If applicable */
body{
		background-color: lightgray;
}

h1{
	background-color:black;
	color: white;
	height: 70px;
	padding-top: 25px
}
.header{
	text-align: center;
}

#container{
	display: flex;
	/* width: 100%; */
	height: 500px;
}
.latest-news-section{
	width: 30%;
	height: 30%;
	margin-left: 20px;
	margin-top: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 30px;
	text-align: center;
}
.main-article{
	width: 30%;
	height: 70%;
	margin-left: 20px;
	margin-top: 10px;
	padding: 15px;
	background-color: white;
	border-radius: 30px;
	text-align: center;
}

.pictorial-news-section{
	width: 20%;
	height: 80%;
	margin-left: 20px;
	margin-top: 10px;
	padding: 15px;
	background-color: white;
	border-radius: 30px;
		text-align: center;

}









